* {
	box-sizing: border-box;
}

main {
	max-width: 550px;
	width: 90%;
	border: 1px solid grey;
	text-align: center;
	margin: auto;
	margin-top: 75px;
	padding: 15px;
}

form {
	height: 50px;
}

div.create-results {
	height: 200px;
	border: 1px solid grey;
}